*{
    margin: 0;
    padding: 0;
}

:root{
    --font1: "Geist Mono", monospace;
    --font2: "Playfair Display", serif;
    --cor-principal1: #cc0000;
    --cor-principal2: #ffd700;
    --cor-fundo: #fbe4e4;
}


.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal1);
    height: 150px;
    color: #fff;
    font-family: var(--font1);
}


.itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 90%;
    max-width: 1400px;
    margin: 80px auto;
}

.itens .card {
    width: 350px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itens .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.itens .card .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.itens .card .card-body {
    background-color: var(--cor-fundo);
    padding: 1rem;
}

.itens .card .card-body .card-text{
    color: var(--cor-principal1);
    font-family: var(--font2);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.itens .card .card-body .card-text + .card-text {
    color: #333;
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: normal;
    margin-top: 5px;
}

.itens .card .card-body .buy {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: 10px 0;
    margin-top: 15px;

    background-color: var(--cor-principal1);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: var(--font1);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.itens .card .card-body .buy:hover {
    background-color: #a30000;
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}

