*{
    margin: 0;
    padding: 0;
}

:root{
    --font1: "Geist Mono", monospace;
    --font2: "Playfair Display", serif;
    --cor-principal1: #cc0000;
    --cor-principal2: #ffd700;
    --fundo-main: linear-gradient(180deg, #fff 0%, #f8d7da 100%);
}



/* -- MAIN --*/

.container .faixa-carrinho{
    background-color: var(--cor-principal1);
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.container .faixa-carrinho #t1{
    color: white;
    font-family: var(--font2);
    font-size: 30px;
}

.container .faixa-carrinho #t2{
    color: white;
    font-family: var(--font1);
}

.container .carrinho{
    width: 87%;
    height: 60vh;
    position: relative;
    left: 120px;
    top: 20px;
    display: flex;
}

.container .carrinho .itens{
    background-color: #F8D7DA;
    border: 2px solid #a3a3a3;
    width: 800px;
    height: 420px;
    position: relative;
    left: 60px;
    top: 60px;
    border-radius: 15px;
    overflow-y: auto;
}

.container .carrinho .itens .text{
    font-family: var(--font2);
    font-size: 30px;
    color: var(--cor-principal1);
    margin-left: 20px;
    padding-top: 20px;
    font-weight: 600;
}

.container .carrinho .itens .order1{
    display: flex;
    border: 2px solid gray;
    width: 94%;
    border-radius: 8px;
    padding: 12px 0px;
    margin: 20px 0px 10px 20px;
}

.container .carrinho .itens .order1 img{
    width: 90px;
    height: 90px;
    border-radius: 8px;
    margin-left: 20px;
}

.container .carrinho .itens .order1 .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.container .carrinho .itens .order1 .info #nome-p{
    color: var(--cor-principal1);
    font-family: var(--font1);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    
}

.container .carrinho .itens .order1 .info #nome-p img{
    width: 24px;
    height: 24px;
}

.container .carrinho .itens .order1 .info #desc-p{
    color: #6B7280;
    font-family: var(--font1);
    font-size: 12px;
}

.container .carrinho .itens .order1 .info #preco{
    color: var(--cor-principal1);
    font-family: var(--font1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.container .carrinho .itens .order1 .info .quantidade{
    color: black;
    font-size: 18px;
    border: 2px solid #A3A3A3;
    border-radius: 5px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    padding: 2px 0px;
}

.container .carrinho .itens::-webkit-scrollbar{
    width: 12px;
}

.container .carrinho .itens::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.05);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .carrinho .itens::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal1);
    border-radius: 20px;       
    border: 3px solid #F8D7DA; 
}

.container .carrinho .itens::-webkit-scrollbar-thumb:hover {
    background-color: #a30000;
}

.container .carrinho .itens .order1 .info .quantidade a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
}

/*Resumo pedido*/

.container .carrinho .pedido{
    background-color: #F8D7DA;
    border: 2px solid #a3a3a3;
    width: 500px;
    height: 400px;
    position: relative;
    left: 300px;
    top: 60px;
    border-radius: 15px;
}

.container .carrinho .pedido .res-pedido{
    font-family: var(--font2);
    font-size: 30px;
    color: var(--cor-principal1);
    margin-left: 20px;
    padding-top: 20px;
    font-weight: 600;
}

.container .carrinho .pedido .valores .subtotal{
    font-family: var(--font1);
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 235px;
}

.container .carrinho .pedido .valores .subtotal #sub{
    color: #374151;
}

.container .carrinho .pedido .entrega{
    font-family: var(--font1);
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 270px;
}

.container .carrinho .pedido .entrega #entre{
    color: #374151;
}

.container .carrinho .pedido .line hr{
    position: relative;
    top: 35px;
    width: 450px;
    left: 21px;
}

.container .carrinho .pedido .total{
    font-family: var(--font1);
    font-size: 22px;
    font-weight: bold;
    color: var(--cor-principal1);
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 60px;
    gap: 260px;
}

.container .carrinho .pedido .total #tal{
    font-size: 18px;
}

.container .carrinho .pedido .btn-fin-p{
    background-color: var(--cor-principal1);
    position: relative;
    top: 90px;
    width: 90%;
    left: 20px;
    border-radius: 10px;
    display: flex;
}

.container .carrinho .pedido .btn-fin-p a{
    text-decoration: none;
    color: white;
    font-family: var(--font1);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

.container .carrinho .pedido .btn-con-c{
    background-color: #F8D7DA;
    border: 2px solid #CC0000;
    position: relative;
    top: 105px;
    width: 90%;
    left: 20px;
    border-radius: 10px;
    display: flex;
}

.container .carrinho .pedido .btn-con-c a{
    text-decoration: none;
    color: #CC0000;
    font-family: var(--font1);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}