*{
    margin: 0;
    padding: 0;
}

:root{
    --font1: "Geist Mono", monospace;
    --font2: "Playfair Display", serif;
    --cor-principal1: #cc0000;
    --cor-principal2: #ffd700;
}

.faixa-carrinho{
    background-color: var(--cor-principal1);
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.faixa-carrinho #t1{
    color: white;
    font-family: var(--font2);
    font-size: 30px;
}

.faixa-carrinho #t2{
    color: white;
    font-family: var(--font1);
}


.container{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: center;
    gap: 150px;
    width: 100%;
}

.container .card{
    width: 20rem;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container .card .card-body{
    background-color: #cc0000;
    border-radius: 0 0 15px 15px;
}

.container .card .card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.container .card .card-body .card-text{
    color: #fff;
    font-family: var(--font2);
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    text-align: center;
}

.container .card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.9);
}

.container .card-featured{
    transform: scale(1.05);
    z-index: 2;
}

.container .card-featured:hover {
    transform: scale(1.05) translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}
