*{
    margin: 0;
    padding: 0;
}

:root{
    --font1: "Geist Mono", monospace;
    --font2: "Playfair Display", serif;
    --cor-principal1: #cc0000;
    --cor-principal2: #ffd700;
    --fundo-main: linear-gradient(180deg, #fff 0%, #f8d7da 100%);
}



/*MAIN*/


.container .card {
    width: 400px;
    border-radius: 15px;
    margin-top: 80px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.container .card .card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.container .card .card-body {
    background-color: var(--cor-principal1);
    padding: 1.25rem;
}

.container .card .card-body .card-text {
    color: #fff;
    font-family: var(--font2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 300px;
}
