*{
    margin: 0;
    padding: 0;
}

:root{
    --font1: "Geist Mono", monospace;
    --font2: "Playfair Display", serif;
    --cor-principal1: #cc0000;
    --cor-principal2: #ffd700;
    --fundo-main: linear-gradient(180deg, #fff 0%, #f8d7da 100%);
}


.container{
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container .card{
    border-radius: 15px;
    height: auto;
    overflow: hidden;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container .card .card-img-top{
    height: auto;
    width: 100%;
    display: block;
}

.container .card .card-body{
    background-color: #cc0000;
    padding: 1.25rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.container .card .card-body .card-text{
    color: #fff;
    font-family: var(--font2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0;
}

.container .card:hover{
    box-shadow: 15px 15px 30px 30px rgba(25, 25, 25, 0.1);
    transition: box-shadow 0.4s ease;
    border-radius: 15px;
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}